.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 20px;
}

.has-blue-background {
    background-color: chartreuse;
    border: 1px solid #ff0000;
}

.has-yellow-background {
    background-color: #e5ff00;
    border: 1px solid #ff00c8;
}
